* {
  /* Lisätään padding ja margin 0:llaksi koko html jotta fullscreen ominaisuus toimii moitteetomasti */
  padding: 0;
  margin: 0;

  /* ************COLORS************* */

  /* CSS HEX */
  --light-cornflower-blue: #8ecae6ff;
  --blue-green: #219ebcff;
  --prussian-blue: #023047ff;
  --honey-yellow: #ffb703ff;
  --orange: #fb8500ff;

  /* CSS HSL */
  --light-cornflower-blueA: hsla(199, 64%, 73%, 0.6);
  --blue-greenA: hsla(192, 70%, 43%, 0.1);
  --prussian-blueA: hsla(200, 95%, 14%, 0.7);
  --honey-yellowA: hsla(43, 100%, 51%, 0.6);
  --orangeA: hsla(32, 100%, 49%, 0.3);

  /* SCSS Gradient */
  /*   $gradient-top: linear-gradient(0deg, #8ecae6ff, #219ebcff, #023047ff, #ffb703ff, #fb8500ff);
  $gradient-right: linear-gradient(90deg, #8ecae6ff, #219ebcff, #023047ff, #ffb703ff, #fb8500ff);
  $gradient-bottom: linear-gradient(180deg, #8ecae6ff, #219ebcff, #023047ff, #ffb703ff, #fb8500ff);
  $gradient-left: linear-gradient(270deg, #8ecae6ff, #219ebcff, #023047ff, #ffb703ff, #fb8500ff);
  $gradient-top-right: linear-gradient(45deg, #8ecae6ff, #219ebcff, #023047ff, #ffb703ff, #fb8500ff);
  $gradient-bottom-right: linear-gradient(135deg, #8ecae6ff, #219ebcff, #023047ff, #ffb703ff, #fb8500ff);
  $gradient-top-left: linear-gradient(225deg, #8ecae6ff, #219ebcff, #023047ff, #ffb703ff, #fb8500ff);
  $gradient-bottom-left: linear-gradient(315deg, #8ecae6ff, #219ebcff, #023047ff, #ffb703ff, #fb8500ff);
  $gradient-radial: radial-gradient(#8ecae6ff, #219ebcff, #023047ff, #ffb703ff, #fb8500ff); */
  /* ************COLORS************* */

  /* ************VARS************ /*

  /* Marker Size */
  --mark-size: 30px;
  --main-font: "Roboto", sans-serif;
}

/* ********************************* itse body alkaa ********************************* */

body {
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 2160px;
  background-color: var(--prussian-blue);
  color: var(--honey-yellow);
}
/* background image taustalle */
.bg-image {
  background-image: url("images/bg_img1.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  padding-bottom: 30%;
  padding-top: 7.5%;
}

header {
  width: 100%;
  z-index: 10;
}

.paa-otsikko {
  color: white;
  /*   font-size: 2rem; */
  margin: 0.5rem;
  font-family: var(--main-font);
}

.paa-otsikko {
  font-size: 24px;
  font-family: var(--main-font);
}

.paa-otsikko:focus,
.paa-otsikko:hover {
  color: var(--orange);
  font-family: var(--main-font);
}

.navbar {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: var(--prussian-blueA);
  color: white;
  font-family: var(--main-font);
  font-size: 1rem;
}

.navbar-linkit ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-linkit li {
  list-style: none;
  margin-right: 10px;
}

.navbar-linkit a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-linkit li :hover {
  color: var(--orange);
}

.navbar-linkit li a:active {
  background-color: var(--prussian-blue);
}
.togglenappi {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}
.togglenappi .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
}
@media (max-width: 800px) {
  .togglenappi {
    display: flex;
  }

  .navbar-linkit {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-linkit ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar-linkit li {
    text-align: center;
  }
  .navbar-linkit li a {
    padding: 0.5rem 1rem;
  }
  .navbar-linkit.active {
    display: flex;
    transition: 300ms ease-in-out;
  }
}

.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* ********************************* Mapin ympärys yms, sisällys tulee alempana ********************************* */

main {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20%;
  background: var(--prussian-blueA);
}

#map {
  margin: auto;
  width: 80%;
  position: relative;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  border: 5px solid transparent;
  border-radius: 10px;
}

/* ********************************* Ala sectionin osuus *********************************  */

section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 3%;
}

section h1 {
  text-align: center;
  margin: auto;
  margin-top: 25px;
  padding-bottom: 50px;
  padding-top: 25px;
  background-color: var(--prussian-blueA);
}

.infoheader {
  width: 100%;
}

.content #infovideo {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-bottom: 20%;
  border-bottom: 1px solid var(--honey-yellowA);
  background-color: var(--prussian-blueA);
}

.pizzavideo {
  width: 90%;
  height: 100%;
  border-radius: 5px;
}

.content #infovideo figcaption {
  width: fit-content;
  position: relative;
  margin: auto;
  padding-bottom: 50px;
  margin-top: 15px;
}

.content #turhamainos {
  width: 100%;
  display: flex;
  margin-top: 10%;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.content article {
  width: 45%;
  height: 100%;
  text-align: center;
  line-height: 1.8em;
  margin: 15px;
  border: 1px dotted var(--light-cornflower-blue);
  background-color: var(--prussian-blueA);
  border-radius: 5px;
}

.content .vasenpuoli {
  height: 400px;
  overflow: auto;
}

.content .vasenpuoli p {
  width: 80%;
  margin: auto;
}

/* .content .vasenpuoli h2 {
  margin-top: 12px;
}

.content .vasenpuoli h3 {
  margin: auto;
} */

.content .oikeapuoli {
  height: 400px;
  overflow: auto;
}

.content .oikeapuoli p {
  width: 80%;
  margin: auto;
}

/* .content .oikeapuoli h2 {
  margin-top: 12px;
}

.content .oikeapuoli h3 {
  margin: auto;
}
 */

/* *********************************  leaflet ikonit marker iconit ********************************* */

.marker-open {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background-color: var(--orange);
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: 20px 0 0 -15px;
  padding: 1px;
  z-index: 11;
}
/* Markkerin sisälle lisätään pizza iconi  */
.marker-open::after {
  content: "";
  width: 5px;
  height: 12px;
  margin: -8px 0px 0px -2px;
  background: url("images/pizza-icon.png") no-repeat center 0px transparent;
  position: absolute;
  border-radius: 50%;
  padding-left: 10px;
  padding-top: 21px;
  padding-right: 24px;
  padding-bottom: 6px;
  z-index: 11;
}

.marker-closed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--mark-size);
  height: var(--mark-size);
  border-radius: 50% 50% 50% 0;
  background-color: var(--prussian-blue);
  position: absolute;
  transform: rotate(-45deg);
  padding: 2px;
  top: 110%;
  left: -2.3%;
  visibility: visible;
}

/*  Tehdään ruksi .css:llä markkerin sisälle before & after elementeillä */

.marker-closed::before,
.marker-closed::after {
  content: "";
  width: calc(var(--mark-size) * 0.2);
  height: calc(var(--mark-size) * 0.8);
  margin: 0px 0px 0px 0px;
  background: var(--honey-yellow);
  position: absolute;
}

.marker-closed::before {
  transform: rotate(180deg);
}

.marker-closed::after {
  transform: rotate(-270deg);
}

/* *********************************  toggle piilotus kiinnioleville paikoille *********************************  */

.leaflet-piilotus {
  border: 2px solid var(--orange);
  display: block;
  width: 32px;
  height: 33px;
  z-index: 1000;
  margin-left: auto;
  position: relative;
  left: -10px;
  top: 47px;
}

.leaflet-piilotus:hover {
  border: 2px solid white;
  padding: 0;
}

.leaflet-toggle-nappi {
  display: flex;
  width: 32px;
  height: 32px;
  line-height: 32px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  color: var(--honey-yellow);
  position: absolute;
  transition: background 150ms ease-in-out;
  cursor: pointer;
}

.leaflet-toggle-nappi:hover {
  background-color: var(--orange);
}

.leaflet-toggle-nappi:active,
.leaflet-piilotus:active {
  background-color: white;
  transition: 0s;
  border-color: var(--orange);
}

/*  Tehdään ruksi .css:llä togglenapin sisälle before & after elementeillä */
.leaflet-toggle-nappi::before,
.leaflet-toggle-nappi::after {
  content: "";
  width: calc(var(--mark-size) * 0.1);
  height: calc(var(--mark-size) * 0.8);
  margin: 0px 0px 0px 0px;
  background: black;
  position: absolute;
  margin-left: auto;
  left: 15px;
  top: 4px;
}

.leaflet-toggle-nappi::before {
  transform: rotate(45deg);
}

.leaflet-toggle-nappi::after {
  transform: rotate(-45deg);
}

/* ********************************  Leaflet zoom & out editointi ********************************* */

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 0;
  box-shadow: 0;
}

.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.leaflet-touch .leaflet-bar a {
  width: 32px;
  height: 32px;
  line-height: 32px;
  background-color: white;
  margin-bottom: 1px;
  border: 2px solid var(--orange);
}

.leaflet-touch .leaflet-bar a:hover {
  box-shadow: 0;
  background-color: var(--orange);
  border: 2px solid white;
}

.leaflet-control-zoom-in {
  display: flex;
  text-align: center;
  text-decoration: none;
  transition: background 150ms ease-in-out;
}

.leaflet-control-zoom-out {
  display: flex;
  text-align: center;
  text-decoration: none;
  transition: background 150ms ease-in-out;
}

/* *********************************  Leaftlet popup kontentti ********************************* */

#map .leaflet-div-wrapper {
  border-radius: 4px;
  z-index: 1010;
  position: absolute;
  bottom: 5px;
  background: var(--prussian-blue);
  padding: 5px;
}

#map .leaflet-div-popup {
  position: relative;
  font-size: 15px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background: var(--prussian-blue);
  color: var(--honey-yellow);
  padding: 10px;
  font-family: var(--main-font);
}
#map .leaflet-div-wrapper .leaflet-div-sulku {
  position: relative;
  text-decoration: none;
  z-index: 1010;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
  margin: -2px 2px 0px 0px;
  background: white;
}

#map .leaflet-div-wrapper .leaflet-div-sulku::before,
#map .leaflet-div-wrapper .leaflet-div-sulku::after {
  content: "";
  width: calc(var(--mark-size) * 0.082);
  height: calc(var(--mark-size) * 0.395);
  margin: 0px 0px 0px 0px;
  position: absolute;
  display: block;
  background: white;
}

#map .leaflet-div-wrapper .leaflet-div-sulku::before {
  transform: rotate(45deg);
}

#map .leaflet-div-wrapper .leaflet-div-sulku::after {
  transform: rotate(-45deg);
}

#map .leaflet-div-wrapper .leaflet-div-sulku:active {
  background: var(--honey-yellow);
}

#map .leaflet-popup-content-wrapper {
  border-radius: 4px;
  background: var(--prussian-blue);
  display: flex;
  flex-direction: column;
  color: var(--honey-yellow);
  overflow-x: hidden;
  font-size: 15px;
  padding: 0px;
}

/* pizzeria popup yläosa, ylhäälle tulee teksti */
#map .pizzatop__bar {
  line-height: 1.2em;
  text-align: left;
}
/*  pizzeria popup alaosa, tänne tulee navigointi ja kotisivu */
#map .pizzabot__bar {
  font-weight: 500;
  letter-spacing: -0.025em;
  font-size: 21px;
  line-height: 1.2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 5px;
  background: var(--prussian-blue);
  border-top: 1px solid white;
  width: 100%;
  padding-top: 8px;
  min-width: 180px;
}

.leaflet-popup-content-wrapper h3 {
  font-size: 0.99em;
  color: var(--honey-yellow);
}

.leaflet-popup-content-wrapper h4 {
  margin-top: 4px;
  font-size: 0.89em;
  display: flex;
  flex-direction: row;
  color: var(--honey-yellow);
}

.leaflet-popup-content-wrapper p {
  line-height: 1.4em;
  color: var(--honey-yellow);
  font-size: 0.89em;
  margin: 5px 0;
}

#map .leaflet-popup-content-wrapper a {
  color: var(--honey-yellow);
  height: 21px;
  display: flex;
  font-size: 0.8125em;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
  text-decoration: none;
  transition: 100ms ease-in-out;
}

#map .leaflet-popup-content-wrapper #Surli {
  border-right: 1px solid var(--orange);
}

#map .leaflet-popup-content-wrapper #Sreitti {
  border-left: 1px solid var(--orange);
}

#map .leaflet-popup-content-wrapper #Surli:hover,
#map .leaflet-popup-content-wrapper #Sreitti:hover {
  color: white;
}

/* #map .leaflet-popup-content-wrapper #Saukioloaika {
  line-height: 1.5em;
  width: fit-content;
  border: 1px solid var(--honey-yellowA);
  border-radius: 3px;
  color: var(--honey-yellow);
  background: var(--prussian-blueA);
  font-size: 14px;
  padding: 2px;
  transition: 0.2s ease-in-out;
} */
/* 
#map .leaflet-popup-content-wrapper #Saukioloaika:hover {
  background-color: white;
} */

.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 3px 0 0;
  border: none;
  text-align: center;
  width: 16px;
  font: 20px/13px roboto;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
  color: white;
}

@media screen and (max-width: 800px) {
  .content {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
  }
  .bg-image {
    padding-top: 0;
  }

  main {
    margin-top: 20%;
    width: 90%;
    height: 300px;
    margin-bottom: 400px;
    padding: 10%;
    border-radius: 10px;
  }

  #map {
    border: 0;
    width: 100%;
    transition: 0.2s;
  }

  .content #infovideo {
    width: 100%;
    height: 600px;
    justify-content: center;
  }

  .pizzavideo {
    width: 90%;
  }

  .content #infovideo figcaption {
    margin-bottom: 10%;
    margin-top: 15px;
    position: relative;
    width: 100%;
  }

  .content #turhamainos {
    /*! width: 90%%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*! justify-content: center; */
    /*! align-items: center; */
    margin: auto;
  }

  .content .vasenpuoli {
    border: 0;
    width: 75%;
    text-align: center;
    margin-top: 5%;
    /*! border-top: 1px solid var(--honey-yellowA); */
    border-bottom: 1px solid var(--honey-yellowA);
    line-height: 2em;
    padding-bottom: 5%;
  }

  .content .vasenpuoli p {
    margin: auto;
    line-height: 2em;
  }

  .content .vasenpuoli h2 {
    margin-top: 12px;
  }

  .content .vasenpuoli h3 {
    margin: auto;
  }

  .content .oikeapuoli {
    border: 0;
    width: 75%;
    text-align: center;
    margin-top: 5%;
    /*! border-top: 1px solid var(--honey-yellowA); */
    border-bottom: 1px solid var(--honey-yellowA);
    line-height: 2em;
    padding-bottom: 5%;
  }

  .content .oikeapuoli p {
    margin: auto;
    line-height: 2em;
  }

  .content .oikeapuoli h2 {
    margin-top: 12px;
  }

  .content .oikeapuoli h3 {
    margin: auto;
  }
}

/*Kuvagalleria*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.wrappi {
  width: 80%;
  margin: 40px auto;
}

div.galleria {
  margin-top: 30px;
}

div.galleria ul {
  list-style-type: none;
}

/*animaatio*/
div.galleria ul li,
div.galleria li img {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

div.galleria ul li {
  position: relative;
  float: left;
  width: 200px;
  height: 200px;
  margin: 70px;
  padding: 5px;
  z-index: 0;
}

div.galleria ul li:hover {
  z-index: 5;
}

/* Image is position nicely under li */
div.galleria ul li img {
  position: absolute;
  left: 0;
  top: 0;
  border: 0.75px solid #022f46b2;
  padding: 5px;
  width: 300px;
  height: 200px;
  background: #022f46b2;
}
div.galleria ul li img:hover {
  width: 400px;
  height: 300px;
  margin-top: -130px;
  margin-left: -130px;
  top: 65%;
  left: 65%;
}
@media only screen and (min-width: 499px) and (max-width: 1000px) {
  .wrappi {
    width: 500px;
  }
}
@media only screen and (max-width: 800px) {
  .wrappi {
    width: 400px;
  }

  div.galleria ul {
    list-style-type: none;
    margin: 0;
  }
}

/* Luultavasti ei käytetä detailsia tai summaryita */
/* #map .leaflet-popup-content details[closed] {
  transition: all 0.4s ease-in-out;
  max-height: 100px;
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: 10px;
  transition: all 0.4s ease-in-out;
}

#map .leaflet-popup-content details[open] {
  transition: all 0.4s ease-in-out;
  max-height: 168px;
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: 10px;
} */

/* #map .leaflet-popup-content-wrapper summary {
  margin: auto;
  line-height: 1.5em;
  text-align: center;
  width: 90%;
  color: white;
  margin-top: 10px;
  margin-left: -0.4em;
} */
