/* ************COLORS************* */

/* CSS HEX */
* {
  --light-cornflower-blue: #8ecae6ff;
  --blue-green: #219ebcff;
  --prussian-blue: #023047ff;
  --honey-yellow: #ffb703ff;
  --orange: #fb8500ff;

  /* CSS HSL */
  --light-cornflower-blueA: hsla(199, 64%, 73%, 0.6);
  --blue-greenA: hsla(192, 70%, 43%, 1);
  --prussian-blueA: hsla(200, 95%, 14%, 0.7);
  --honey-yellowA: hsla(43, 100%, 51%, 0.6);
  --orangeA: hsla(32, 100%, 49%, 1);

  /* SCSS Gradient */
  /*   $gradient-top: linear-gradient(0deg, #8ecae6ff, #219ebcff, #023047ff, #ffb703ff, #fb8500ff);
  $gradient-right: linear-gradient(90deg, #8ecae6ff, #219ebcff, #023047ff, #ffb703ff, #fb8500ff);
  $gradient-bottom: linear-gradient(180deg, #8ecae6ff, #219ebcff, #023047ff, #ffb703ff, #fb8500ff);
  $gradient-left: linear-gradient(270deg, #8ecae6ff, #219ebcff, #023047ff, #ffb703ff, #fb8500ff);
  $gradient-top-right: linear-gradient(45deg, #8ecae6ff, #219ebcff, #023047ff, #ffb703ff, #fb8500ff);
  $gradient-bottom-right: linear-gradient(135deg, #8ecae6ff, #219ebcff, #023047ff, #ffb703ff, #fb8500ff);
  $gradient-top-left: linear-gradient(225deg, #8ecae6ff, #219ebcff, #023047ff, #ffb703ff, #fb8500ff);
  $gradient-bottom-left: linear-gradient(315deg, #8ecae6ff, #219ebcff, #023047ff, #ffb703ff, #fb8500ff);
  $gradient-radial: radial-gradient(#8ecae6ff, #219ebcff, #023047ff, #ffb703ff, #fb8500ff); */
}
/* ************COLORS************* */

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 2160px;
  background-color: black;
}

.bg-image {
  background-image: url("images/bg_img1.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-bottom: 50%;
  padding-top: 0%;
}

header {
  width: 100%;
  z-index: 10;
}

.brand-title {
  color: white;
  /*   font-size: 2rem; */
  margin: 0.5rem;
  font-family: "Roboto Slab", serif;
}

.brand-title {
  font-size: 24px;
  font-family: "Roboto Slab", serif;
}

.brand-title:focus,
.brand-title:hover {
  color: var(--orange);
  font-family: "Roboto Slab", serif;
}

.navbar {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: var(--prussian-blueA);
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
}

.navbar-linkit ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-linkit li {
  list-style: none;
  margin-right: 10px;
}

.navbar-linkit a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-linkit li :hover {
  color: var(--orange);
}

.navbar-linkit li a:active {
  background-color: var(--prussian-blue);
}
.togglenappi {
  position: absolute;
  top: 1.25rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}
.togglenappi .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
}
@media (max-width: 800px) {
  .togglenappi {
    display: flex;
  }

  .navbar-linkit {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-linkit ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar-linkit li {
    text-align: center;
  }
  .navbar-linkit li a {
    padding: 0.5rem 1rem;
  }
  .navbar-linkit.active {
    display: flex;
  }
}

.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

main {
  padding-top: 7%;
  padding-bottom: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20%;
  background: var(--light-cornflower-blueA);
}

section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--light-cornflower-blueA);
  padding-bottom: 3%;
}

#map {
  margin: auto;
  width: 80%;
  position: relative;
  height: 1080px;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  border: 5px solid transparent;
  border-radius: 10px;
}

section h1 {
  text-align: center;
  border-bottom: 5px dotted var(--prussian-blue);
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-bottom: 20px;
  width: 100%;
  /*! display: block; */
  /*! justify-content: center; */
}

.content #infovideo {
  width: 100%;
  margin: auto;
  text-align: center;
  border-bottom: 5px dotted;
  padding-bottom: 10%;
}

.pizzavideo {
  width: 90%;
  height: 100%;
  /*   border: 2px solid var(--honey-yellowA); */
  border-radius: 5px;
}

.content #infovideo figcaption {
  width: fit-content;
  position: relative;
  margin: auto;
  padding-bottom: 50px;
  margin-top: 15px;
}

.content #turhamainos {
  width: 100%;
  display: flex;
  /*! flex-grow: 100; */
  margin-top: 10%;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.content article {
  width: 35%;
  /*   border: 2px solid var(--honey-yellowA); */
  height: 100%;
  text-align: center;
  line-height: 1.8em;
  margin: 15px;
  border: 1px dotted var(--light-cornflower-blue);
  /*! margin: auto; */
  /*! margin: ; */
}

/* leaflet ikonit  */

.marker-open {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background-color: #fb8500;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: 20px 0 0 -15px;
  padding: 1px;
}

.marker-open::after {
  content: "";
  width: 5px;
  height: 12px;
  margin: -8px 0px 0px -2px;
  background: url("images/pizza-icon.png") no-repeat center 0px transparent;
  position: absolute;
  border-radius: 50%;
  padding-left: 10px;
  padding-top: 21px;
  padding-right: 24px;
  padding-bottom: 6px;
}

/* luultavasti ei käyttöä tälle eikä open-ikoni i {} elementille
.closed-ikoni i {
  position: relative;
  top: 40px;
  will-change: top, left;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  line-height: 30px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.marker-closed {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #8ecae6;
  border: 4px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: 8px 0 0 -16.2px;
  padding: 1px;
}

.marker-closed::after {
  content: "";
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #023047;
  position: absolute;
  border-radius: 50%;
}

/* Leaftlet popup kontentti */

#map .leaflet-popup-content-wrapper {
  background: #8ecae6;
  color: black;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.4);
  max-height: 240px;
  margin: 0;
  overflow: hidden;
  width: 166px;
  display: inline-block;
}

#map .leaflet-popup-content-wrapper #Surli {
  line-height: 1.5rem;
  text-align: center;
  color: white;
  background-color: var(--prussian-blue);
  box-sizing: border-box;
  padding: 0.5rem;
  padding-left: 0.5rem;
  text-decoration: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-left: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 15px;
  transition: 0.2s ease-in-out;
  padding-left: 1rem;
}

#map .leaflet-popup-content-wrapper #Sreitti {
  line-height: 1.5rem;
  text-align: center;
  color: white;
  background-color: var(--prussian-blue);
  box-sizing: border-box;
  padding: 0.5rem;
  padding-right: 0.5rem;
  text-decoration: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-left: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 15px;
  transition: 0.2s ease-in-out;
  padding-right: 1rem;
}

#map .leaflet-popup-content {
  line-height: 1em;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
}

#map .leaflet-popup-content-wrapper #Surli:hover {
  background-color: var(--orange);
  color: white;
  transition: 0.1s ease-out;
}

#map .leaflet-popup-content-wrapper #Sreitti:hover {
  background-color: var(--orange);
  color: white;
  transition: 0.1s ease-out;
}

#map .leaflet-popup-content details[closed] {
  transition: all 0.4s ease-in-out;
  max-height: 100px;
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: 10px;
  transition: all 0.4s ease-in-out;
}

#map .leaflet-popup-content details[open] {
  transition: all 0.4s ease-in-out;
  max-height: 168px;
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: 10px;
}

.leaflet-popup-content-wrapper h4,
.leaflet-popup-content-wrapper h3,
.leaflet-popup-content-wrapper p,
.leaflet-popup-content-wrapper summary {
  text-decoration: black;
  margin-left: auto;
  margin-top: 0px;
  line-height: 1.5em;
  text-align: center;
}

#map .leaflet-popup-content-wrapper summary {
  margin-top: 10px;
  margin-left: -0.4em;
}
#map .leaflet-popup-content-wrapper #Saukioloaika {
  margin-left: -5px;
  margin-top: 0px;
  line-height: 1.5em;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 3px 0 0;
  border: none;
  text-align: center;
  width: 16px;
  font: 20px/13px Tahoma, Verdana, sans-serif;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
  color: white;
}

#Snimi,
#Surli,
#Sreitti {
  margin-bottom: 5px;
  padding-bottom: 5px;
}

@media screen and (max-width: 800px) {
  .content {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
  }
  .bg-image {
    padding-top: 0;
  }

  main {
    margin-top: 20%;
    width: 90%;
    height: 650px;
    margin-bottom: 400px;
    padding: 10%;
    border-radius: 10px;
  }

  #map {
    border: 0;
    width: 100%;
    transition: 0.2s;
  }

  .content #infovideo {
    width: 100%;
    height: 600px;
    justify-content: center;
  }

  .pizzavideo {
    width: 90%;
  }

  .content #infovideo figcaption {
    /*! margin-bottom: 10%; */
    margin-top: 15px;
  }

  .content #turhamainos {
    /*! width: 90%%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*! justify-content: center; */
    /*! align-items: center; */
    margin: auto;
  }

  .content .vasenpuoli {
    border: 0;
    width: 75%;
    text-align: center;
    margin-top: 5%;
    /*! border-top: 1px solid var(--honey-yellowA); */
    border-bottom: 1px solid var(--honey-yellowA);
    line-height: 2em;
    padding-bottom: 5%;
  }

  .content .vasenpuoli p {
    margin: auto;
    line-height: 2em;
  }

  .content .vasenpuoli h2 {
    margin-top: 12px;
  }

  .content .vasenpuoli h3 {
    margin: auto;
  }

  .content .oikeapuoli {
    border: 0;
    width: 75%;
    text-align: center;
    margin-top: 5%;
    border-top: 1px solid var(--honey-yellowA);
    border-bottom: 1px solid var(--honey-yellowA);
    line-height: 2em;
    padding-bottom: 5%;
  }

  .content .oikeapuoli p {
    margin: auto;
    line-height: 2em;
  }

  .content .oikeapuoli h2 {
    margin-top: 12px;
  }

  .content .oikeapuoli h3 {
    margin: auto;
  }
}
